/* mov.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.mov-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.mov-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.mov-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.mov-table,.mov-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.mov-table-all{border:1px solid #ccc}
.mov-bordered tr,.mov-table-all tr{border-bottom:1px solid #ddd}.mov-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.mov-table-all tr:nth-child(odd){background-color:#fff}.mov-table-all tr:nth-child(even){background-color:#f1f1f1}
.mov-hoverable tbody tr:hover,.mov-ul.mov-hoverable li:hover{background-color:#ccc}.mov-centered tr th,.mov-centered tr td{text-align:center}
.mov-table td,.mov-table th,.mov-table-all td,.mov-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.mov-table th:first-child,.mov-table td:first-child,.mov-table-all th:first-child,.mov-table-all td:first-child{padding-left:16px}
.mov-btn,.mov-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.mov-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.mov-btn,.mov-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.mov-disabled,.mov-btn:disabled,.mov-button:disabled{cursor:not-allowed;opacity:0.3}.mov-disabled *,:disabled *{pointer-events:none}
.mov-btn.mov-disabled:hover,.mov-btn:disabled:hover{box-shadow:none}
.mov-badge,.mov-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.mov-badge{border-radius:50%}
.mov-ul{list-style-type:none;padding:0;margin:0}.mov-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.mov-ul li:last-child{border-bottom:none}
.mov-tooltip,.mov-display-container{position:relative}.mov-tooltip .mov-text{display:none}.mov-tooltip:hover .mov-text{display:inline-block}
.mov-ripple:active{opacity:0.5}.mov-ripple{transition:opacity 0s}
.mov-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.mov-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.mov-dropdown-click,.mov-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.mov-dropdown-hover:hover .mov-dropdown-content{display:block}
.mov-dropdown-hover:first-child,.mov-dropdown-click:hover{background-color:#ccc;color:#000}
.mov-dropdown-hover:hover > .mov-button:first-child,.mov-dropdown-click:hover > .mov-button:first-child{background-color:#ccc;color:#000}
.mov-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.mov-check,.mov-radio{width:24px;height:24px;position:relative;top:6px}
.mov-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.mov-bar-block .mov-dropdown-hover,.mov-bar-block .mov-dropdown-click{width:100%}
.mov-bar-block .mov-dropdown-hover .mov-dropdown-content,.mov-bar-block .mov-dropdown-click .mov-dropdown-content{min-width:100%}
.mov-bar-block .mov-dropdown-hover .mov-button,.mov-bar-block .mov-dropdown-click .mov-button{width:100%;text-align:left;padding:8px 16px}
.mov-main,#main{transition:margin-left .4s}
.mov-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.mov-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.mov-bar{width:100%;overflow:hidden}.mov-center .mov-left .mov-bar{display:inline-block;width:auto}
.mov-bar .mov-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.mov-bar .mov-dropdown-hover,.mov-bar .mov-dropdown-click{position:static;float:left}
.mov-bar .mov-button{white-space:normal}
.mov-bar-block .mov-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.mov-bar-block.mov-center .mov-bar-item{text-align:center}.mov-block{display:block;width:100%}
.mov-left{text-align:left;}
.mov-responsive{display:block;overflow-x:auto}
.mov-container:after,.mov-container:before,.mov-panel:after,.mov-panel:before,.mov-row:after,.mov-row:before,.mov-row-padding:after,.mov-row-padding:before,
.mov-cell-row:before,.mov-cell-row:after,.mov-clear:after,.mov-clear:before,.mov-bar:before,.mov-bar:after{content:"";display:table;clear:both}
.mov-col,.mov-half,.mov-third,.mov-twothird,.mov-threequarter,.mov-quarter{float:left;width:100%}
.mov-col.s1{width:8.33333%}.mov-col.s2{width:16.66666%}.mov-col.s3{width:24.99999%}.mov-col.s4{width:33.33333%}
.mov-col.s5{width:41.66666%}.mov-col.s6{width:49.99999%}.mov-col.s7{width:58.33333%}.mov-col.s8{width:66.66666%}
.mov-col.s9{width:74.99999%}.mov-col.s10{width:83.33333%}.mov-col.s11{width:91.66666%}.mov-col.s12{width:99.99999%}
@media (min-width:601px){.mov-col.m1{width:8.33333%}.mov-col.m2{width:16.66666%}.mov-col.m3,.mov-quarter{width:24.99999%}.mov-col.m4,.mov-third{width:33.33333%}
.mov-col.m5{width:41.66666%}.mov-col.m6,.mov-half{width:49.99999%}.mov-col.m7{width:58.33333%}.mov-col.m8,.mov-twothird{width:66.66666%}
.mov-col.m9,.mov-threequarter{width:74.99999%}.mov-col.m10{width:83.33333%}.mov-col.m11{width:91.66666%}.mov-col.m12{width:99.99999%}}
@media (min-width:993px){.mov-col.l1{width:8.33333%}.mov-col.l2{width:16.66666%}.mov-col.l3{width:24.99999%}.mov-col.l4{width:33.33333%}
.mov-col.l5{width:41.66666%}.mov-col.l6{width:49.99999%}.mov-col.l7{width:58.33333%}.mov-col.l8{width:66.66666%}
.mov-col.l9{width:74.99999%}.mov-col.l10{width:83.33333%}.mov-col.l11{width:91.66666%}.mov-col.l12{width:99.99999%}}
.mov-content{max-width:980px;margin:auto}.mov-rest{overflow:hidden}
.mov-cell-row{display:table;width:100%}.mov-cell{display:table-cell}
.mov-cell-top{vertical-align:top}.mov-cell-middle{vertical-align:middle}.mov-cell-bottom{vertical-align:bottom}
.mov-hide{display:none!important}.mov-show-block,.mov-show{display:block!important}.mov-show-inline-block{display:inline-block!important}
@media (max-width:600px){.mov-modal-content{margin:0 10px;width:auto!important}.mov-modal{padding-top:30px}
.mov-dropdown-hover.mov-mobile .mov-dropdown-content,.mov-dropdown-click.mov-mobile .mov-dropdown-content{position:relative}	
.mov-hide-small{display:none!important}.mov-mobile{display:block;width:100%!important}.mov-bar-item.mov-mobile,.mov-dropdown-hover.mov-mobile,.mov-dropdown-click.mov-mobile{text-align:center}
.mov-dropdown-hover.mov-mobile,.mov-dropdown-hover.mov-mobile .mov-btn,.mov-dropdown-hover.mov-mobile .mov-button,.mov-dropdown-click.mov-mobile,.mov-dropdown-click.mov-mobile .mov-btn,.mov-dropdown-click.mov-mobile .mov-button{width:100%}}
@media (max-width:768px){.mov-modal-content{width:500px}.mov-modal{padding-top:50px}}
@media (min-width:993px){.mov-modal-content{width:900px}.mov-hide-large{display:none!important}.mov-sidebar.mov-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.mov-hide-medium{display:none!important}}
@media (max-width:992px){.mov-sidebar.mov-collapse{display:none}.mov-main{margin-left:0!important;margin-right:0!important}}
.mov-top,.mov-bottom{position:fixed;width:100%;z-index:1}.mov-top{top:0}.mov-bottom{bottom:0}
.mov-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.mov-display-topleft{position:absolute;left:0;top:0}.mov-display-topright{position:absolute;right:0;top:0}
.mov-display-bottomleft{position:absolute;left:0;bottom:0}.mov-display-bottomright{position:absolute;right:0;bottom:0}
.mov-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.mov-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.mov-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.mov-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mov-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mov-display-container:hover .mov-display-hover{display:block}.mov-display-container:hover span.mov-display-hover{display:inline-block}.mov-display-hover{display:none}
.mov-display-position{position:absolute}
.mov-circle{border-radius:50%}
.mov-round-small{border-radius:2px}.mov-round,.mov-round-medium{border-radius:4px}.mov-round-large{border-radius:8px}.mov-round-xlarge{border-radius:16px}.mov-round-xxlarge{border-radius:32px}
.mov-row-padding,.mov-row-padding>.mov-half,.mov-row-padding>.mov-third,.mov-row-padding>.mov-twothird,.mov-row-padding>.mov-threequarter,.mov-row-padding>.mov-quarter,.mov-row-padding>.mov-col{padding:0 8px}
.mov-container,.mov-panel{padding:0.01em 16px}.mov-panel{margin-top:16px;margin-bottom:16px}
.mov-code,.mov-codespan{font-family:Consolas,"courier new";font-size:16px}
.mov-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.mov-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.mov-card,.mov-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.mov-card-4,.mov-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.mov-spin{animation:mov-spin 2s infinite linear}@keyframes mov-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.mov-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.mov-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.mov-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.mov-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.mov-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.mov-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.mov-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.mov-animate-input{transition:width 0.4s ease-in-out}.mov-animate-input:focus{width:100%!important}
.mov-opacity,.mov-hover-opacity:hover{opacity:0.60}.mov-opacity-off,.mov-hover-opacity-off:hover{opacity:1}
.mov-opacity-max{opacity:0.25}.mov-opacity-min{opacity:0.75}
.mov-greyscale-max,.mov-grayscale-max,.mov-hover-greyscale:hover,.mov-hover-grayscale:hover{filter:grayscale(100%)}
.mov-greyscale,.mov-grayscale{filter:grayscale(75%)}.mov-greyscale-min,.mov-grayscale-min{filter:grayscale(50%)}
.mov-sepia{filter:sepia(75%)}.mov-sepia-max,.mov-hover-sepia:hover{filter:sepia(100%)}.mov-sepia-min{filter:sepia(50%)}
.mov-tiny{font-size:10px!important}.mov-small{font-size:12px!important}.mov-medium{font-size:15px!important}.mov-large{font-size:18px!important}
.mov-xlarge{font-size:24px!important}.mov-xxlarge{font-size:36px!important}.mov-xxxlarge{font-size:48px!important}.mov-jumbo{font-size:64px!important}
.mov-left-align{text-align:left!important}.mov-right-align{text-align:right!important}.mov-justify{text-align:justify!important}.mov-center{text-align:center!important}
.mov-left{text-align:left!important}
.mov-border-0{border:0!important}.mov-border{border:1px solid #ccc!important}
.mov-border-top{border-top:1px solid #ccc!important}.mov-border-bottom{border-bottom:1px solid #ccc!important}
.mov-border-left{border-left:1px solid #ccc!important}.mov-border-right{border-right:1px solid #ccc!important}
.mov-topbar{border-top:6px solid #ccc!important}.mov-bottombar{border-bottom:6px solid #ccc!important}
.mov-leftbar{border-left:6px solid #ccc!important}.mov-rightbar{border-right:6px solid #ccc!important}
.mov-section,.mov-code{margin-top:16px!important;margin-bottom:16px!important}
.mov-margin{margin:16px!important}.mov-margin-top{margin-top:16px!important}.mov-margin-bottom{margin-bottom:16px!important}
.mov-margin-left{margin-left:16px!important}.mov-margin-right{margin-right:16px!important}
.mov-padding-small{padding:4px 8px!important}.mov-padding{padding:8px 16px!important}.mov-padding-large{padding:12px 24px!important}
.mov-padding-16{padding-top:16px!important;padding-bottom:16px!important}.mov-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.mov-padding-32{padding-top:32px!important;padding-bottom:32px!important}.mov-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.mov-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.mov-right{float:right!important}
.mov-button:hover{color:#000!important;background-color:#ccc!important}
.mov-transparent,.mov-hover-none:hover{background-color:transparent!important}
.mov-hover-none:hover{box-shadow:none!important}
/* Colors */
.mov-amber,.mov-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.mov-aqua,.mov-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.mov-blue,.mov-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.mov-light-blue,.mov-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.mov-brown,.mov-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.mov-cyan,.mov-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.mov-blue-grey,.mov-hover-blue-grey:hover,.mov-blue-gray,.mov-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.mov-green,.mov-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.mov-light-green,.mov-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.mov-indigo,.mov-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.mov-khaki,.mov-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.mov-lime,.mov-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.mov-orange,.mov-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.mov-deep-orange,.mov-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.mov-pink,.mov-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.mov-purple,.mov-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.mov-deep-purple,.mov-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.mov-red,.mov-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.mov-sand,.mov-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.mov-teal,.mov-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.mov-yellow,.mov-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.mov-white,.mov-hover-white:hover{color:#000!important;background-color:#fff!important}
.mov-black,.mov-hover-black:hover{color:#fff!important;background-color:#000!important}
.mov-grey,.mov-hover-grey:hover,.mov-gray,.mov-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.mov-light-grey,.mov-hover-light-grey:hover,.mov-light-gray,.mov-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.mov-dark-grey,.mov-hover-dark-grey:hover,.mov-dark-gray,.mov-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.mov-pale-red,.mov-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.mov-pale-green,.mov-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.mov-pale-yellow,.mov-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.mov-pale-blue,.mov-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.mov-text-amber,.mov-hover-text-amber:hover{color:#ffc107!important}
.mov-text-aqua,.mov-hover-text-aqua:hover{color:#00ffff!important}
.mov-text-blue,.mov-hover-text-blue:hover{color:#2196F3!important}
.mov-text-light-blue,.mov-hover-text-light-blue:hover{color:#87CEEB!important}
.mov-text-brown,.mov-hover-text-brown:hover{color:#795548!important}
.mov-text-cyan,.mov-hover-text-cyan:hover{color:#00bcd4!important}
.mov-text-blue-grey,.mov-hover-text-blue-grey:hover,.mov-text-blue-gray,.mov-hover-text-blue-gray:hover{color:#607d8b!important}
.mov-text-green,.mov-hover-text-green:hover{color:#4CAF50!important}
.mov-text-light-green,.mov-hover-text-light-green:hover{color:#8bc34a!important}
.mov-text-indigo,.mov-hover-text-indigo:hover{color:#3f51b5!important}
.mov-text-khaki,.mov-hover-text-khaki:hover{color:#b4aa50!important}
.mov-text-lime,.mov-hover-text-lime:hover{color:#cddc39!important}
.mov-text-orange,.mov-hover-text-orange:hover{color:#ff9800!important}
.mov-text-deep-orange,.mov-hover-text-deep-orange:hover{color:#ff5722!important}
.mov-text-pink,.mov-hover-text-pink:hover{color:#e91e63!important}
.mov-text-purple,.mov-hover-text-purple:hover{color:#9c27b0!important}
.mov-text-deep-purple,.mov-hover-text-deep-purple:hover{color:#673ab7!important}
.mov-text-red,.mov-hover-text-red:hover{color:#f44336!important}
.mov-text-sand,.mov-hover-text-sand:hover{color:#fdf5e6!important}
.mov-text-teal,.mov-hover-text-teal:hover{color:#009688!important}
.mov-text-yellow,.mov-hover-text-yellow:hover{color:#d2be0e!important}
.mov-text-white,.mov-hover-text-white:hover{color:#fff!important}
.mov-text-black,.mov-hover-text-black:hover{color:#000!important}
.mov-text-grey,.mov-hover-text-grey:hover,.mov-text-gray,.mov-hover-text-gray:hover{color:#757575!important}
.mov-text-light-grey,.mov-hover-text-light-grey:hover,.mov-text-light-gray,.mov-hover-text-light-gray:hover{color:#f1f1f1!important}
.mov-text-dark-grey,.mov-hover-text-dark-grey:hover,.mov-text-dark-gray,.mov-hover-text-dark-gray:hover{color:#3a3a3a!important}
.mov-border-amber,.mov-hover-border-amber:hover{border-color:#ffc107!important}
.mov-border-aqua,.mov-hover-border-aqua:hover{border-color:#00ffff!important}
.mov-border-blue,.mov-hover-border-blue:hover{border-color:#2196F3!important}
.mov-border-light-blue,.mov-hover-border-light-blue:hover{border-color:#87CEEB!important}
.mov-border-brown,.mov-hover-border-brown:hover{border-color:#795548!important}
.mov-border-cyan,.mov-hover-border-cyan:hover{border-color:#00bcd4!important}
.mov-border-blue-grey,.mov-hover-border-blue-grey:hover,.mov-border-blue-gray,.mov-hover-border-blue-gray:hover{border-color:#607d8b!important}
.mov-border-green,.mov-hover-border-green:hover{border-color:#4CAF50!important}
.mov-border-light-green,.mov-hover-border-light-green:hover{border-color:#8bc34a!important}
.mov-border-indigo,.mov-hover-border-indigo:hover{border-color:#3f51b5!important}
.mov-border-khaki,.mov-hover-border-khaki:hover{border-color:#f0e68c!important}
.mov-border-lime,.mov-hover-border-lime:hover{border-color:#cddc39!important}
.mov-border-orange,.mov-hover-border-orange:hover{border-color:#ff9800!important}
.mov-border-deep-orange,.mov-hover-border-deep-orange:hover{border-color:#ff5722!important}
.mov-border-pink,.mov-hover-border-pink:hover{border-color:#e91e63!important}
.mov-border-purple,.mov-hover-border-purple:hover{border-color:#9c27b0!important}
.mov-border-deep-purple,.mov-hover-border-deep-purple:hover{border-color:#673ab7!important}
.mov-border-red,.mov-hover-border-red:hover{border-color:#f44336!important}
.mov-border-sand,.mov-hover-border-sand:hover{border-color:#fdf5e6!important}
.mov-border-teal,.mov-hover-border-teal:hover{border-color:#009688!important}
.mov-border-yellow,.mov-hover-border-yellow:hover{border-color:#ffeb3b!important}
.mov-border-white,.mov-hover-border-white:hover{border-color:#fff!important}
.mov-border-black,.mov-hover-border-black:hover{border-color:#000!important}
.mov-border-grey,.mov-hover-border-grey:hover,.mov-border-gray,.mov-hover-border-gray:hover{border-color:#9e9e9e!important}
.mov-border-light-grey,.mov-hover-border-light-grey:hover,.mov-border-light-gray,.mov-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.mov-border-dark-grey,.mov-hover-border-dark-grey:hover,.mov-border-dark-gray,.mov-hover-border-dark-gray:hover{border-color:#616161!important}
.mov-border-pale-red,.mov-hover-border-pale-red:hover{border-color:#ffe7e7!important}.mov-border-pale-green,.mov-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.mov-border-pale-yellow,.mov-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.mov-border-pale-blue,.mov-hover-border-pale-blue:hover{border-color:#e7ffff!important}